*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

<body{
    font-family: "lato", sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
}

h2{
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;  
}
p{
    font-size: 30px;
}

img{
    width: 90%;
}

li{
    list-style-type: none;

}

.container{
margin: 0 auto;
max-width: 1200px;
overflow: visible;
}

.navbar{
    background-color: purple;
    height: 70px;
    padding: 0 30px;
}

.navbar h1{
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    color: white;
    line-height: 1.2;
}
 .navbar .flex{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100%;
 }

 .navbar ul{
     flex-wrap: wrap;
     display: flex;
 }

 .navbar a{
     color: white;
     padding: 10px;
     margin: 0;
 }
 .navbar a:hover{
     color:#9867c5; 
     border-bottom: 3px solid #9867c5;
 }


 .showcase{
height: 300px;
background-color: purple;
}

.showcase h1{
    color: white;
}

.showcase p{
    margin-bottom: 30px;
}

.showcase img{
    box-shadow: 7px 7px 7px rgba(0,0, 0,0.2);
}

.showcase-form{
    padding-left: 7px;
}

.grid{
overflow: visible;
display: grid;
grid-template-columns: 60% 40%;
}

.grid-item-1,
.grid-item-2{
    position: relative;
    top: 50px;
}

.showcase input[type='email']{
    padding: 10px 70px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    padding-left: 6px;
}

.btn{
    border-radius: 6px;
    padding: 12px 20px;
    background-color: #9867c5;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.showcase-form{
    margin: auto;
}

.lower-container{
    margin: 120px auto;
    padding: 0;
    max-height: 1400px;
}

.title{
    color: black;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.text{
    color: black;
    font-size: 19px;
    text-align: justify;
    padding: 10px;
    margin: 0, 20px;
    width: 100%;

}

.flex{
    display: flex;
    justify-content: space-around;
}

.stats{
    padding: 45px 50px;
    text-align: center;
}

.stat{
    margin: 0 30px;
    text-align: center;
    width: 800px;
}

.stat .fa{
    color: purple;
}

.testimonial{
    color: black;
    padding: 40px;

}

.testimonial img{
    height: 100%;
clip-path: circle();
align-self: center;

}

.testimonial h3{
    text-align: center;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2),
    7px 7px 20px rgba(0, 0, 0, 0.2);
}

.circle{
    background-color: transparent;
    border: 3px solid purple;
    height: 90px;
    position: relative;
    top: -10px;
    left: 120px;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 90px;

}


footer{
    color: white;
    background-color: purple;
    padding: 20px 10px;
}

footer a{
    color: white;
    margin: 0 10px;
}
footer a:hover{
    color: #98679C5;
    border-bottom:2px solid  #98679C5;
    cursor:pointer;
}

/* add resposnsiveness to the page*/

/* fo tablet view*/

@media(max-width:768px)
{

    .grid, .grid-3{
        grid-template-columns: 1fr;
    }

    .showcase{
        height: auto;
        text-align: center;
    }

    .image{
        width: 600px;
        margin-left: 80px;
    }
    /* change the service sectiion from appearing side by side
    to each taking its own line and align text to center
    */

    .stats .flex{
        flex-direction: column;
    }

    .stats{
        text-align: center;

    }

    .stat{
        width: 100%;
        padding-right: 80px;
    }

    .circle{
        background-color: transparent;
        border: 3px solid purple;
        height: 90px;
        position: relative;
        top: -10px;
        left: 270px;
        border-radius: 50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width: 90px;
    }
}


/* for mobile devices*/

@media(max-width:500px){
    .navbar{
        height: 100px;
    }

    .navbar .flex{
        flex-direction: column;
    }
    .navbar a:hover{
        color:white;
        border-bottom: 2px solsid black;
    }
    .navbar ul{
        background-color: #9867c5;
        border-radius: 5px;
        padding: 10px 0;
    }
    .showcase{
        height: auto;
        text-align: center;
    }
    .little-info{
        font-size: 13px;
    }
    .image{
        width: 350px;
        margin-left: 70px;
    }
    .stat{
        margin-bottom: 40px;
    }

    .circle{
        background-color: transparent;
        border: 3px solid purple;
        height: 90px;
        position: relative;
        top: -30px;
        left: 150px;
        border-radius: 50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width: 90px;
    }
}









































































































.little-info{
    font-size: 15px;
    font-family: "poppins", sans-serif;
    color: white;
}
.showcase-text,
.supporting-text{
    color: white;
}